$cor-thema:  #86bbd8;
$font-main: 'Roboto', sans-serif;

* {
    font-family: $font-main;
}

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

.cart {
    background-color: #3f4258;
    &__header {
        /*background-color: $cor-thema;*/
        height: 110px;
        box-shadow: inset 0px -4px 11px -6px #f6f7fa;
        &-logo {
            width: 100px;
            margin: 10px 0;
            display: inline-block;
        }
        h1 {
            width: 65%;
            display: inline-block;
            text-align: center;
            vertical-align: top;
            line-height: 100px;
            color: #798299;
            font-size: 40px;
            text-align: center;
            text-shadow: -5px 2px 7px black;
        }
        &-lock {
            width: 20%;
            color: #FFF;
            font-size: 14px;
            font-weight: 500;
            display: flex;
            float: right;
            text-align: right;
            padding-top: 60px;
            strong {
                font-size: 14px;
                font-weight: 500;
                padding-left: 5px;
            }
            &:after {
                background-image: url('../../src/img/icon-lock.png');
                width: 30px;
                height: 35px;
                content: " ";
                background-repeat: no-repeat;
                background-size: contain;
                display: block;
                cursor: pointer;
                position: relative;
                bottom: 35px;
                right: 90px;
            }
        }
    }
    &__container {
        width: 80%;
        margin: 0 auto;
    }
    &__item {
        background-color: #FFF;
        width: 100%;
        &-header {
            th {
                padding: 10px 0px;
            }
        }
        &-body {
            tr {
                border-bottom: 1px solid #e6e7f1;
                &:nth-child(odd) {
                    background-color: #f6f7fa;
                }
            }
            td {
                text-align: center;
                vertical-align: middle;
                padding: 15px 0;
                &:last-child {
                    width: 5%;
                    padding: 10px;
                }
                .remove-item {
                    font-size: 0px;
                    width: 5%;
                    padding: 10px;
                    &:before {
                        background-image: url('../../src/img/trash-cart.png');
                        width: 30px;
                        height: 35px;
                        content: " ";
                        background-repeat: no-repeat;
                        background-size: contain;
                        display: block;
                        cursor: pointer;
                    }
                }
            }
            &--img {
                width: 10%;
                img {
                    width: 80px;
                    height: auto;
                }
            }
            &--name {
                width: 40%;
            }
            &--qtd {
                span {
                    display: inline-block;
                    margin: 0 15px;
                    font-size: 0px;
                    cursor: pointer;
                }
                .btn-less, .btn-more {
                    &:before {
                        background-image: url('../../src/img/arrow.png');
                        width: 20px;
                        height: 18px;
                        content: " ";
                        background-repeat: no-repeat;
                        background-size: contain;
                        display: block;
                    }
                }
                .btn-more {
                    &:before {
                        transform: rotate(180deg);
                    }
                }
                p {
                    border: 1px solid #000;
                    width: 20%;
                    margin: 0 auto;
                    padding: 15px 20px 15px 18px;
                    display: inline;
                    font-size: 18px;
                    font-weight: bold;
                    background-color: #FFF;
                }
            }
            &--price, &--total{
                font-weight: 600;
            }
        }
        &-total {
            font-weight: 600;
            background-color: #FFF;
            &--valor {
                color: #3f4258;
            }
        }
    }
}
