<html>
    <head>
        <base href="/">
        <meta charset="utf-8">
        <title>FountainJS</title>
        <meta http-equiv="Content-Language" content="pt-br">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="public/css/style.css">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body ng-app="app" class="cart">
        <header class="cart__header">
            <div class="cart__container">
                <img src="https://raw.githubusercontent.com/diegomcsilva/DieGO/master/src/images/Logo.ico" class="cart__header-logo">
                <h2>Carrinho de compras<h2>
            </div>
        </header>
        <!-- <header-cart></header-cart> -->
        <div ng-controller="CartForm">
            <div class="cart__container">
                <table class="cart_item">
                    <thead class="cart__item-header">
                        <tr>
                            <th>Item</th>
                            <th>Nome</th>
                            <th>Quantidade</th>
                            <th>Preço</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="cart__item-body">
                        <tr ng-repeat="item in items">
                            <td class="cart__item-body--img"><img src="{{ item.image }}"></td>
                            <td class="cart__item-body--name"><p>{{ items.name }}</p></td>
                            <td class="cart__item-body--qtd"><spam ng-click="lessItem($index)">-</spam><p> {{ item.quantity }}</p><spam ng-click="moreItem($index)">+</spam></td>
                            <td class="cart__item-body--price"><p> {{ item.price | currency:'R$ '}}</p></td>
                            <td class="cart__item-body--total">{{ item.price * item.quantity | currency:'R$ ' }}</td>
                            <td>
                                [<a href ng-click="removeItem($index)">X</a>]
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <div>
                informe seu CEP
            </div>
            <div>
                <ul>
                    <tr>
                        <td>qtd produto</td>
                        <td class="text-uppercase">R$</td>
                        <td id="basket-summary-subtotal" class="text-right col-xs-4">total</td>
                    </tr>
                </ul>
            </div>
            <div>
                <ul>
                    <li>
                        <a class="" id="" href="">
                            Comprar
                        </a>
                    </li>
                </ul>
            </div>
            <a href="/">Escolher mais produtos</a>
        </div>

        <script type="text/javascript" src="src/js/script.js"></script>
    </body>
</html>
