<html>
    <head>
        <base href="/">
        <meta charset="utf-8">
        <title>FountainJS</title>
        <meta http-equiv="Content-Language" content="pt-br">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="public/min/style.css">
        <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script> -->
        <script src="/node_modules/angular/angular.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body ng-app="app" class="cart">
        <header-cart></header-cart>
        <div ng-controller="CartForm">
            <div class="cart__container">
                <table class="cart__item">
                    <thead class="cart__item-header">
                        <tr>
                            <th>Item</th>
                            <th>Nome</th>
                            <th>Quantidade</th>
                            <th>Preço</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="cart__item-body">
                        <tr ng-repeat="item in items">
                            <td class="cart__item-body--img"><img src="{{ item.image }}"></td>
                            <td class="cart__item-body--name"><p>{{ item.name }}</p></td>
                            <td class="cart__item-body--qtd" ng-model='qtd'><span class="btn-less" ng-click="lessItem($index)">-</span><p> {{ item.quantity }}</p><span class="btn-more" ng-click="moreItem($index)">+</span></td>
                            <td class="cart__item-body--price"><p> {{ item.price | currency:'R$ '}}</p></td>
                            <td class="cart__item-body--total">{{ item.price * item.quantity | currency:'R$ ' }}</td>
                            <td ng-click="removeItem($index)">
                                <p class="remove-item">X</p>
                            </td>
                        </tr>
                        <tr class="cart__item-total">
                           <td colspan="3"></td>
                           <td>Total:</td>
                           <td class="cart__item-total--valor">{{total() | currency:'R$ '}}</td>
                           <td></td>
                       </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <total-cart></total-cart>
        <footer-cart></footer-cart>

        <script type="text/javascript" src="public/js/_script.js"></script>
        <script type="text/javascript" src="public/js/_header-cart.js"></script>
        <script type="text/javascript" src="public/js/_total-cart.js"></script>
        <script type="text/javascript" src="public/js/_footer-cart.js"></script>
    </body>
</html>
